.news-list
{
}

.news-list > div
{
margin: 0 0 30px 0;
}

.news-list > div .news-date
{
font-size: 12px;
color: #9c9c9c;
position: relative;
margin-bottom: 14px;
}

.news-list > div .news-date span
{
display: inline-block;
background: #fff;
padding: 0 14px 0 0;
}

.news-list > div .news-date:after
{
content: "";
position: absolute;
top: 5px;
left: 0;
width: 100%;
border-bottom: 1px solid #e5e5e5;
z-index: -1;
}

.news-list > div .news-name
{
line-height: 1.4;
}

.news-list > div .news-name a:link,
.news-list > div .news-name a:visited
{
color: #434343 !important;
border-color: rgba(67,67,67,0);
}

.news-list > div .news-name a:hover
{
color: #e5e5e5 !important;
border-color: rgba(229,229,229,0.5);
}